h1{
  padding: 50px;
  color: darkmagenta;
}
.tropical{
  background-color: aqua;
}
.tropicalbackn{
  color: blue;
}
.popular{
  color: gold;
}
.thead{
color: #f7352e;
}
.phead{
  color: goldenrod;
}
.ttext{
  color: #7dc410;
  font-family: fantasy;
}
.column{
  float: right;
  width: 25%;
}